@import url('https://fonts.googleapis.com/css?family=Bungee');
body {
    font-family: 'Arial', sans-serif;
    background: url('bg3.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container h2{
    color: azure;
    font-family: 'Bungee', sans-serif;
      }
  
  .container {
    width: 100%;
    max-width: 400px;
    background: rgba(33, 32, 100, 0.9);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border: #04022b;
  }
  
  .container:hover {
    transform: translateY(-5px);
  }
  
  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-pic-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #profileImage {
    display: block;
    margin: 0 auto;
    width: 100px; /* Adjust as necessary */
    height: 100px; /* Adjust as necessary */
    border-radius: 50%;
    object-fit: cover;
  }
  
  input[type="file"] {
    display: block;
    margin: 10px auto;
  }
  

  .container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    max-width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust as necessary */
    margin-bottom: 20px;
  }
  
  .profile-pic-container {
    margin-bottom: 20px;
  }
  
  #profileImage {
    display: none; /* Hide until a file is chosen */
    margin: 0 auto;
    width: 100px; /* Adjust as necessary */
    height: 100px; /* Adjust as necessary */
    border-radius: 50%;
    object-fit: cover;
  }
  
  input[type="file"] {
    display: block;
    margin: 10px auto;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .input-row > input,
  .input-row > select {
    flex: 1;
    margin-right: 10px;
  }
  
  .input-row > input:last-child,
  .input-row > select:last-child {
    margin-right: 0;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  input[type="file"],
  select {
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  label {
    display: block;
    text-align: left;
    margin: 0 0 5px 5px;
  }
  
  .password-row {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  
  .fa {
    font-size: 20px;
    color: #333;
  }
  